body {
    /* background-color: #19072b; */
}

.todo {
    height: 600px;
    width: 400px;
    background-color: rgb(44, 44, 82);
    margin: 0 auto;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.todo .content h2 {
    text-align: center;
    padding-top: 30px;
}

.todo .content {
    text-align: center;
}

.todo .content input {
    height: 25px;
    width: 280px;
}

.todo .content input::placeholder {
    padding-left: 10px;
}

.todo .content button {
    padding: 6px 10px;
}

.todo .output ul {
    width: 83%;
    margin-left: -6px;
}

.todo .output ul li {
    list-style: none;
    padding: 10px 10px;
    border: 1px solid white;
    margin-bottom: 10px;
    border-radius: 5px;
}

.todo .output ul .flex {
    display: flex;
    justify-content: space-between;
}





.calculator {
    padding: 50px 100px;
    height: 600px;
    background-color: antiquewhite;
    margin-top: 100px;
}

.calculator .main {
    display: flex;
    height: 100%;
}

.calculator .main .left {
    width: 50%;
    position: relative;
}

.calculator .main .left .sub {
    position: absolute;
    top: 0;
    right: 0;
}

.calculator .main .left .multiply {
    position: absolute;
    bottom: 0;
    left: 0;
}

.calculator .main .left .devide {
    position: absolute;
    bottom: 0;
    right: 0;
}

.calculator .main .left .result {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%, -50%);
    font-size: 40px;
}

.calculator .main .right {
    width: 50%;
    padding-left: 100px;
}